<h1>About</h1>
<img src = "https://ichef.bbci.co.uk/news/976/cpsprodpb/10ECF/production/_107772396_treesmall.jpg" />
<p> Jungle is a website where you can purchase various plants. Look at various plants and if you see one you like, buy it! </p>

  
 <div class="panel panel-default items">
  
  </div>

